#graph {
    display: flex;
    .content-left {
      margin-right: 20px;
      width: 22%;
      height: 70vh;
    }
    .content-right {
      width: 78%;
    }
  }
  
  .content-title {
    margin: 20px 0px;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
  }
  
  .graph-container {
    border: 1px solid #d0e0ff;
  }
  
  .graph-title {
    height: 22px;
    line-height: 22px;
    background: #d0e0ff78;
    padding: 14px 35px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(51, 51, 51);
  }
  
  .graph-content {
    height: 59.5vh;
    padding: 28px 25px;
    overflow-y: scroll;
  }
  
  .graph-content-tongji {
    font-size: 22px;
    font-weight: 700;
    color: #3b3b3b;
    letter-spacing: 1px;
    margin-bottom: 28px;
    margin-left: 16px;
  }
  
  .tongji-attr {
    margin-right: 8px;
  }
  
  .tongji-value {
    font-size: 30px;
    font-weight: bold;
  }
  
  .tongji-fenhao {
    margin-right: 8px;
  }
  
  .dianwei {
    color: rgba(33, 150, 243, 1);
  }
  
  .zaixian {
    color: rgba(68, 187, 1, 1);
  }
  
  .lixian {
    color: rgba(126, 140, 170, 1);
  }
  
  .baojing {
    color: rgba(253, 1, 0, 1);
  }
  
  .graph-row {
  }
  
  .graph-col {
    display: flex;
    padding: 25px;
    margin: 10px 10px;
    width: 374px;
    height: 266px;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
    border: 1px solid #cccccc;
  }
  
  .graph-col-left {
    width: 140px;
    height: 215px;
    margin-right: 28px;
    border: 1px solid #007dc5;
  }
  
  .graph-col-right {
  }
  
  .col-left-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 188px;
  }
  
  .col-left-img {
  }
  
  .col-left-bottom {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    font-weight: 400;
    color: #1b5fbe;
    text-align: center;
    border-top: 1px solid #007dc5;
  }
  
  .col-right-item {
    display: flex;
    margin-bottom: 17px;
    font-size: 14px;
    font-weight: 400;
    color: #787878;
  }
  
  .right-item-attr {
    display: block;
    width: 60px;
    text-align: right;
    margin-right: 5px;
  }
  
  .right-item-value {
    display: block;
    width: 80px;
    color: #1b5fbe;
    line-height: 20px;
  }